{% extends "adminpanel/base.html" %}

{% block sideMenu %}    
    <li class="nav-item my-2">
        <div class="nav-link" id="addForm">
            <span class="nav-action-btn">➕ Додати сайт ➕</span>
        </div>
    </li>
    <li class="nav-item my-2">
        <div class="nav-link" id="deleteForm">
            <span class="nav-action-btn">➖ Видалити сайт ➖</span>
        </div>
    </li>
    {% for i, site in enumerated_sites %}
        <li class="nav-item my-2">
            <a class="nav-link" target="_blank" href="{{ site.url }}">
                <span>{{ i }}. {{ site.name }}</span>
            </a>
        </li>
    {% endfor %}
{% endblock sideMenu %}

{% block data %} 
    <form id="siteForm" class="siteForm">
        <div>
            <input type="text" id="type_field" class="disabled" value="site">
        </div>
        <div>
            <input type="text" id="text_field" style="min-width: 210px;" placeholder="Введіть посилання на rss">
        </div>
        <div>
            <button type="submit" id="submit"></button>
        </div>
        <div>
            <input type="text" id="method_field" class="disabled" value="">
        </div>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#siteForm").on("submit", function(event){
                event.preventDefault();
                let data = $("#text_field").val();
                let type = $("#type_field").val();
                let method = $("#method_field").val();
                let human_text;
                if (method == "add") {
                    human_text = "додано";
                } else {
                    human_text = "видалено";
                }

                $.ajax({
                    url: "/panel/"+method+"_data/",
                    type: "POST",
                    data: {data, type},
                    headers: { "X-CSRFToken": getCookie("csrftoken") },
                    success: function(data, textStatus, jqXHR) {
                        alert("Посилання " + human_text + " успішно!");
                    },

                    error: function(jqXHR, textStatus, errorThrown) {
                        switch (jqXHR.status) {
                            case 500:
                                alert("Вже було " + human_text + "!");
                                break;
                            default:
                                alert("Error: " + textStatus + " " + errorThrown);
                                break;
                        }
                    },

                    complete: function(jqXHR, textStatus) {
                        console.log(jqXHR.status);
                        location.reload();
                    }
                })
            });
            $("#addForm").click(function(){
                $("#submit").html("Додати");
                $("#text_field").val("");
                $("#method_field").val("add");
                $("#siteForm").css("display", "block");
            });
            $("#deleteForm").click(function(){
                $("#submit").html("Видалити");
                $("#text_field").val("");
                $("#method_field").val("delete");
                $("#siteForm").css("display", "block");
            });
        });
    </script>



{% endblock data %}